workflows/backup.json
{
  "updatedAt": "2026-01-21T16:37:20.488Z",
  "createdAt": "2026-01-21T16:21:43.289Z",
  "id": "6fYJajaOQMOKjKNmX9KGM",
  "name": "backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -64
      ],
      "id": "6c5a5cff-87b2-4207-a7f0-4b72da3269dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -16,
        -64
      ],
      "id": "7a699a9f-69f4-446c-96bb-f8adb03d163d",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "rxhpOuXOdUtITEgk",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pour chaque workflow trouvé\nreturn items.map(item => {\n  return {\n    json: {\n      // On crée le chemin du fichier : workflows/NomDuWorkflow.json\n      path: `workflows/${item.json.name.replace(/[^a-z0-9]/gi, '_').toLowerCase()}.json`,\n      // On met le contenu du workflow\n      content: JSON.stringify(item.json, null, 2)\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -64
      ],
      "id": "c09603b8-420e-4796-a3ad-bb2ff5e0c7f1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "JuzOi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/JuzOi/n8n-backups"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "\"Sauvegarde automatique n8n\""
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        400,
        -64
      ],
      "id": "6e4f1cf1-4c16-43e9-b018-a8f94768b960",
      "name": "Create a file",
      "webhookId": "25f24ea9-5d43-4989-8ca5-08d782cd496c",
      "credentials": {
        "githubApi": {
          "id": "4EmknjQHRTPgPGpb",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "26053a65-b745-46cb-a9b7-1737d46ca2c6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-21T16:21:43.290Z",
      "createdAt": "2026-01-21T16:21:43.290Z",
      "role": "workflow:owner",
      "workflowId": "6fYJajaOQMOKjKNmX9KGM",
      "projectId": "4xHqJAZbP13ArjJx"
    }
  ],
  "activeVersion": null,
  "tags": []
}